<div class="footer">
  <div class="footer-links">
    <a href="http://www.facebook.com"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

  <div class="footer-apps"> <strong> App available on </strong>
  <div class="d-flex justify-content-center">
    <a href="#"> <i class="fab fa-google-play"></i></a>
    <a href="#"> <i class="fab fa-app-store-ios"></i></a>
    </div>
  </div>

  <div class="footer-copyright"> <strong> Follow us </strong> on our social media <i class="fas fa-heart"></i>
  </div>
</div>
