<div class="banner-background">
  <div class="banner">
    <div class="banner-image w-100">
      <h2>Rent a scooter</h2>  <h2><strong> Anytime, </strong><h2>
      <p><strong> Anyplace! </strong></p>
      <a class="btn btn-flat" href="/scooters">Browse</a>
    </div>
  </div>
</div>

<div class="header-container">
   <h1>Be your own traveller</h1>
</div>


<div class="card-background">
    <div class="card-container">
        <div class="cards">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pic.clubic.com/v1/images/1847153/raw)">
            Rent
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.acc.co.nz/assets/Newsroom-images/escooter-helmet-1.jpg)">
            Safety
          </div>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://rainjoy.eu/wp-content/uploads/2021/07/trottinette-velo-rouler-sous-la-pluie-1.jpg)">
            Ride
          </div>
        </div>
    </div>
</div>

<div class="text-middle-container text-center mt-5">
     <p>Ride Share & <strong>Have fun</strong></p>
 </div>


<div class="middle-container">
  <img src="https://joyorscooter.com/wp-content/uploads/2021/03/enjoy-yourself.png" alt="">
</div>
