<div class="home-container col-12 d-flex">
  <img class="home-img" src="https://bezy.fr/wp-content/uploads/2021/06/bezy.fr_Le-marche%CC%81-des-trottinettes-e%CC%81lectriques-en-France.jpg" alt="">
</div>
