
.buy--btn {

    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: #36b46d;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;

	&:active {
		transform: scale(0.97);
	}
  &:hover {
    color: green;
    background-color: white;
  }
}



.card-product {
    padding-bottom: 28px;
    width: 226px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    /* height: 198px; */
    border-radius: 10px;
    margin: 10px 0;
    flex-direction: column;
    flex-wrap: nowrap;
}

.card-product img {
  height: 92%;
  width: 175px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #36b46d;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #36b46d;
}

.card-product .card-product-infos {
  padding: 16px;
}

.map-container {
  width: 30%;
  height: auto;
  #map {
    height: 100%;
    width: 100%;
  }
}

.product-container {
  background: #ffffff;
  border-radius: 0px 10px 10px 0px;
  width: 60%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.index_wrap {
  display: flex;
  justify-content: space-around;
  min-height: calc(100vh - 154px);
  height: fit-content;
}

.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-container > img {
  width: 100px;
}

i {
  color: #36b46d;
}

.animated-gif {
  display: flex;
  justify-content: center;
}

.animated-gif img {
 width: 800px;
 margin: 40px;
}

.header-wrap {
  display: flex;
  justify-content: center;
}

.header-wrap h1 {
    position: relative;
    font-size: 2.5rem;
    top: 110px;
    font-size: 28px;
}


.header-wrap img {
  width: 300px;
}
