.container_cards {
  // display: flex;
  // justify-content: center;
font-family: 'Courgette', cursive;




}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1%;
  border-radius: 15px;
  font-family: 'Courgette', cursive;



}
.card-trip:hover {
   -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
       margin:5% ;
       transition-duration: 500ms;



}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;

}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Courgette', cursive;
  margin:5%;
  display: flex;
  justify-content: center ;

}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.button-add > .btn-primary {
  display: flex;
  text-align: center;
  justify-content: center;

}
